extends ../base.pug

block content 
  div#main-video-screen(data-id=videoSelected.id)
    video#video(src="/" + videoSelected.videoURL height="650" width="1200") 
    div#videoControls.videoControls
      div.videoControls__play
        span#playBtn.videoControls__playBtn
          i.fas.fa-play
        div.videoControls__time 
          span#current-time 00:00
          span.separator  /
          span#duration  --:--
      input#video-time_line.videoControls__timeline(type="range" value="0" step="0.3" min="0")
      div.videoControls__volume
        input#volume(type="range" step="0.1" max=1 min=0)
        span#muteBtn
          i.fas.fa-volume-up
      div
        span#screen-size-btn 
          i.fas.fa-expand

  if loggedIn 
    h1 Write your comments
    form#comment-form(data-user=userId)
      textarea(cols="30", rows="10")
      button Add comments

  div.comments-section 
    ul.comments-ul
        each comment in videoSelected.comments.reverse()
            li(data-id=comment.id)
              span#comment-span(data-owner=newOwner)=comment.text
              if commentOwner === userID
                button#delete-comment ❌
  
  small  #{videoSelected.meta.views} #{videoSelected.meta.views === 1 ? "View" : "Views"}

  if String(videoSelected.owner._id) === String(user._id)
    a(href=`${videoSelected.id}/edit`) Edit &rarr;
    br
    a(href=`${videoSelected.id}/delete`) Delete video &rarr; 

block scripts 
  script(src="/assets/js/VideoPlayer.js")
  if loggedIn 
    script(src="/assets/js/commentSection.js")