mixin videos(item)
  a(href=`/videos/${item.id}`)
    div.video-holder
      video.video_preview(src="/" + item.videoURL)
      span.video_info=item.title
      span.video_info Posted by: #{item.owner.username}
      li #{item.meta.views} Viewers 


      //-  li #{item.description}
        li #{item.hashtags}
        li Posted At: #{item.DateCreated}
        li #{item.meta.rating} Stars 



        