mixin videos(item)
  div 
    h3 
      a(href=`/videos/${item.id}`)=item.title
    ul 
      li #{item.description}
      li #{item.hashtags}
      li Posted At: #{item.DateCreated}
      li #{item.meta.views} Viewers 
      li #{item.meta.rating} Stars 