extends base

block content 
  h1 Edit Your Profile
  if user.githubLogin 
    h2 You cannot edit your github account
    form(method="post", enctype="multipart/form-data") 
      label(for="avatarImage") Select Profile Photo
      input(type="file" accept="image/*" id="avatarImage" name="avatar")

      input(type="text" placeholder="Your name" name="editName" value=`${user.name}` disabled)
      input(type="text" placeholder="Username" name="editUsername" value=`${user.username}` disabled)
      input(type="text" placeholder="Your Location" name="editLocation" value=`${user.location===(undefined || null || "null") ? "" :`${user.location}`}` disabled)
      input(type="submit" value="Save updated profile" disabled)
  else
    if errors
      span #{errors}
    form(method="post", enctype="multipart/form-data") 
      label(for="avatarImage") Select Profile Photo
      input(type="file" accept="image/*" id="avatarImage" name="avatar")

      input(type="file" placeholder="Your name" name="editName" value=`${user.name}`)
      input(type="text" placeholder="Username" name="editUsername" value=`${user.username}` `${disabled}`)
      input(type="text" placeholder="Your Location" name="editLocation" value=`${user.location===(undefined || null || "null") ? "" :`${user.location}`}`)
      input(type="submit" value="Save updated profile")

    a(href="EditMyProfile/ChangePassword") Change Password &rarr;