extends base

block content 
  h1 Login
  if errors
    span #{errors}
  form(method="POST")
    input(type="text" placeholder="Username" name="username" required value=`${username===undefined ? "" :`${username}`}`)
    input(type="email" placeholder="E-mail" name="email" required value=`${email===undefined ? "" :`${email}`}`)
    input(type="password" placeholder="Password" name="password" required value=`${password===undefined ? "" :`${password}`}`)
    input(type="submit" value="Login")
    hr
    a(href=`${process.env.GITHUB_LOGIN_URL}`) Continue with github &rarr;

  hr
  div 
    span Don't have an account? 
    a(href="/join") Sign In &rarr;