extends base.pug

block content  
  h1 Watching 

//-
  ul 
    li #{videoSelected.rating} Stars
    li #{videoSelected.views} #{videoSelected.views === 1 ? "View" : "Views"}
    li #{videoSelected.comments} Comments 
    li #{videoSelected.subscribers} Subscribers 
-//


  a(href=`${videoSelected.id}/edit`) Edit &rarr;