extends base.pug

block content  
  h1 Watching #{videoSelected.title}

  p #{videoSelected.description} 
  span 
    b Hashtags:: #{videoSelected.hashtags}
  li Posted at: #{videoSelected.DateCreated} 
  small  #{videoSelected.meta.rating} Stars
  br
  small  #{videoSelected.meta.views} #{videoSelected.views === 1 ? "View" : "Views"}

  br
  a(href=`${videoSelected.id}/edit`) Edit &rarr; 