extends ../base

block content 
  h1 Change your password 
  if errors 
    span #{errors}
  form(method="post")
    input(type="password" placeholder="Old Password" name="OldPassword" required value=`${OldPassword===undefined ? "" :`${OldPassword}`}`)
    input(type="password" placeholder="New Password" name="NewPassword" required value=`${NewPassword===undefined ? "" :`${NewPassword}`}`)
    input(type="password" placeholder="Confirm new password" name="ConfirmNew" required value=`${ConfirmNew===undefined ? "" :`${ConfirmNew}`}`)
    input(type="submit" value="Save Password")