extends ../base

block content 
  h1.forms-heading CHANGE YOUR PASSWORD 
  if errors 
    span #{errors}
  form.edit-profile_form(method="post")
    input(type="password" placeholder="Old Password" name="OldPassword" required value=`${OldPassword===undefined ? "" :`${OldPassword}`}`)
    input(type="password" placeholder="New Password" name="NewPassword" required value=`${NewPassword===undefined ? "" :`${NewPassword}`}`)
    input(type="password" placeholder="Confirm new password" name="ConfirmNew" required value=`${ConfirmNew===undefined ? "" :`${ConfirmNew}`}`)
    input.submit-updated-profile_btn(type="submit" value="Save Password")